@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
	/* --main-color:#fe5f41; */
	--main-color:#636e72;
	/*#fe5f41*/
}

*{
	box-sizing:border-box;
	font-family:sans-serif,"Poppins";
	margin:0;
	padding:0;
}

.repas{
	text-align:center;
	padding:60px;
}

.repas h1{
	font-family: Poppins;
}

.repas .head{
	display:flex;
	justify-content:space-between;
	padding:0px 40px;
	font-family:Raleway;
}

.repas .head a{
	background-color:var(--main-color);
	text-decoration:none;
	color:#fff;
	display:flex;
	align-items:center;
	justify-content:center;
	padding:10px 30px;
	border-radius:50px;
}

.repas .menu-item{
	text-align:center;
	background-color:#fff;
	position:relative;
	border-radius:5px;
	padding:20px 30px;
	margin-bottom:25px;
	box-shadow:none;
	margin:auto;
}

.repas .menu-item .title h1, .repas .menu-item .desc p{
	font-family:"Poppins";
	font-size:24px;
	margin-top:15px;
}

.repas .menu-item .desc span{
	font-family:"Poppins";
	font-size:18px;
}

.repas .menu-item .menu-img img{
	width:280px;
}

.repas .menu-item p{
	color:#9c9c9c;
}

.repas .menu-item a{
	text-decoration:none;
	color:#fff;
	background-color:var(--main-color);
	padding:10px 30px;
	display:inline-block;
	margin:10px 0;
	border-radius:50px;
}

#scroll-top{
	position:fixed;
	bottom:15px;
	right:15px;
	background-color:var(--main-color);
	color:#fff;
	width:50px;
	height:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	text-decoration:none;
	font-size:30px;
	border-radius:50%;
	z-index:20;
	transition:.5s
}

.menu-container{
	display:flex;
	flex-wrap:wrap;
	margin-top:100px;
	justify-content:space-between;
	padding:20px 60px;
}

.menu-container .menu-item img{
	width:100%;
}

.menu-container .menu-item{
	text-align:center;
	background-color:#fff;
	position:relative;
	border-radius:5px;
	padding:20px 30px;
	font-family:"Raleway";
	margin-bottom:25px;
	box-shadow:0 0 11px 0px #ccc;
	transition:.3s;
}

.menu-container .menu-item span{
	font-family: Poppins;
}

.menu-container .menu-item p{
	color:#9c9c9c;
}

.menu-container .menu-item a{
	text-decoration:none;
	color:#fff;
	padding:10px 30px;
	display:inline-block;
	margin:10px 0;
}

#scroll-top:hover{
	background-color:var(--main-color);
}

.header{
	min-height:100vh;
	position: relative;
}


/* .header .overlay{
	width:100%;
	height:100%;
	background-color:#000;
	position: absolute;
	top:0;
	left:0;
	opacity:.4;
} */

.overlay{
	width:100%;
	height:100%;
	background-color:#000;
	position: absolute;
	top:0;
	left:0;
	opacity:.4;
}

.header .right img{
	width:100%;
}

.header .content{
	background-color:#fff4f2;
	position:relative;
	height:100vh;
	display:flex;
	align-items:center;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-position:center;
}

.header .content .hero{
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	padding:0 50px;
	transform:translate(-50%,-50%);
	text-align:left;
}

.header .content .hero h1{
	font-family:"Raleway";
	font-weight:900;
	font-size:60px;
	margin-bottom:30px;
	color:#fff;
}

.header .content .hero button{
	outline:none;
	position: relative;
	background-color:#fff;
	border:1px solid #fff;
	color:#000;
	padding:12px 40px;
	font-weight:bold;
	cursor:pointer;
	transition: ease-out 0.4s;
	font-size:20px;
	font-family:"Raleway";
	box-shadow: inset 0 0 0 0 #fe5f41;
}

.header .content .hero a::before {
	position: absolute;
	content: "";
	background: rgb(255, 255, 255);
	transition-duration: 0.3s;
	z-index: -1;
	inset: auto auto 0px 0px;
	width: 100%;
	height: 0px;
	opacity: 1;
} 

.header .content .hero button.slide:hover {
	box-shadow: inset 400px 0 0 0 #fe5f41;
  }

.header .content .hero button:hover{
	color:#fff;
}

.navbar{
	position: fixed;
	top:0;
	z-index: 55;
	width:100%;
	padding:30px 0;
	transition:.4s;
}

.navbar .account a{
	margin:0 5px;
	color:#fff;
	text-decoration:none;
	font-family:"Raleway";
	padding:5px 15px;
	border-radius:50px;
	position: relative;
}

.navbar .account a span{
	position: absolute;
	width:20px;
	height:20px;
	background-color: #000;
	color:#fff;
	top:-10px;
	left:30px;
	border-radius:50px;
	text-align:center;
	line-height:20px;
	font-size:10px;
}

.navbar .nav-item a{
	text-decoration:none;
	color:#fff;
	font-weight:600;
	position: relative;
}

.navbar .nav-item .nav-link{
	color:#fff;
	font-family:"Raleway";
}


.navbar .nav-item{
	margin-right:50px;
	margin-bottom:10px;
}

.about{
	margin:50px 0;
	text-align:center;
	font-family: "Poppins";
	padding:50px;
}

.about .item{
	text-align:center;
	border:1px solid #eee;
	padding:60px 20px;
	font-family:"Poppins";
	border-radius:5px;
	transition:.3s;
}

.about h1{
	margin-bottom:30px;
	font-family:"Poppins";
	font-size:30px;
	margin:30px 0;
}

.about .item p{
	color:#9c9c9c;
	font-family:"Poppins";
}

.about .item:hover{
	box-shadow:0 0 15px -3px #ccc;
	border-color:transparent;
}

.gallery{
	padding:60px;
	text-align:center;
	background-color: #f5f5f5;
}

.gallery h1{
	font-family: Poppins;
	color:#000;
	margin-bottom:30px;
	font-size:50px;
}

.gallery .gallery-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.gallery .gallery-container .gallery-item .overlay span{
	font-family: Poppins;
	font-size:40px;
	font-weight:300;
}

.gallery .gallery-container .gallery-item{
	margin-bottom:20px;
	position:relative;
}

.gallery .gallery-container .gallery-item:hover .overlay{
	opacity:1;
	visibility:visible;
}

.gallery .gallery-container .gallery-item .overlay{
	position:absolute;
	top:0;
	left:0;
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.7);
	transition:.3s;
	opacity:0;
	visibility:hidden;
	cursor:pointer;
}



.reserver{
	padding:20px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	z-index:555;
	text-align:center;
	transition:.5s;
	opacity:0;
	visibility:hidden;
}

.reserver h1{
	font-family:Raleway;
	margin-bottom:80px;
}

.reserver .img{
	width:400px;
	height:400px;
}

.reserver form div{
	margin-bottom:20px;
}

.reserver form{
	background-color:#fff;
	padding:50px 0;
}

.reserver img{
	width:100%;
}

.reserver form input{
	outline:none;
	padding:12px 20px;
	font-size:16px;
	border:1px solid #eaeaea;
	width:350px;
	font-family:Raleway;
	transition:.3s;
}

.reserver form input:focus{
	border-color:var(--main-color);;
}

.reserver form input[type=date]
{
	cursor:pointer;
}

.reserver form input[type=submit]
{
	background-color:000;
	border:none;
	color:#fff;
	cursor:pointer;
}

.reserver > span{
	position:absolute;
	top:50px;
	right:30px;
	width:50px;
	height:50px;
	font-size:30px;
	font-family:Raleway;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	z-index:555;
}

.reussite{
	background-color: #fff;
    font-family: Raleway;
    position:relative;
}

.reussite h1{
	padding:20px;
	margin-bottom:15px;
	color:#155724;
	background-color:#d4edda;
}

.reussite .info{
	padding:40px 0;
}

.reussite .info div{
	margin:15px 0;
	text-align:justify;
	padding-left:80px;
}

span#shop{
	cursor:pointer;
	color:#fff;
	position:relative;
}

span#shop .shop-count{
	position:absolute;
	top:-15px;
	right:-15px;
	width:20px;
	height:20px;
	display:inline-block;
	text-align:center;
	font-family:Raleway;
	background-color:var(--main-color);
	border-radius:50%;
	color:#fff;
}

.alert-container{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 58745;
    display:flex;
    align-items: center;
    justify-content: center;
}

.alert-container .alert{
	background-color: #fff;
    padding: 50px 470px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
}

.alert-container span{
	position:absolute;
	top:10px;
	right:10px;
	color:#fff;
	font-size:40px;
	cursor:pointer;
}

.account-wrap > .container-fluid > .row > *{
	padding:0;
}

.account-wrap{
	font-family:"Poppins";
}

.account-wrap .account-sidebar{
	padding:20px 0;
	border-right:1px solid #ccc;
	height:100vh;
	background-color:#000;
}

.account-wrap .account-sidebar .account-info{
	text-align:center;
	padding:20px 0;
	font-family: Raleway;
	color:#fff;
}

.account-wrap .account-sidebar ul{
	margin:0;
	padding:0;
	list-style:none;
	margin:15px 0;
}

.account-wrap .account-sidebar ul li.active{
	background-color:#e67e22;
	color:#fff;
}

.account-wrap .account-sidebar ul li.active a{
	color:#fff;
	
}

.account-wrap .account-sidebar ul li{
	border-top:1px solid #ccc;
	padding:0 10px;
}

.account-wrap .account-sidebar ul li a{
	padding:15px 10px;
	text-decoration:none;
	font-family:Raleway;
	display:block;
	height:100%;	
	color:#fff;
}


.account-wrap .account-sidebar .account-profile-img{
	background-image:url("https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png");
	width:80px;
	height:80px;
	background-size:contain;
	margin:auto;
	margin-bottom:10px;
	border-radius:50%;
}

.account-wrap .account-content{
	padding:10px 20px;
	font-family:Raleway;
}

.row{
	display:flex;
}

.form-group label{
	display:block;
	margin-bottom:10px;
}

.form-group{
	padding:10px 30px;
	padding-left:10px;
	font-family:Raleway;
	border:none;
}



input[type="submit"]
{
	background-color:#000;
	text-align:center;
	border:none;
	color:#fff;
	padding:10px 40px;
	font-family:Raleway;
	font-size:18px;
	outline:none;
	cursor:pointer;
}

input[type="file"]{
	border:2px dotted #ccc;
	padding:15px;
	width:100%;
	outline:none;
}

table{
	width:100%;
	padding:5px;
	text-align:center;
}

table td,table th{
	border:1px solid #ccc;
	padding:15px 5px;
}


table tr:nth-child(odd)
{
	background-color:var(--main-color);
	color:#fff;
}

.menu-container{
	margin-top:100px;
	padding:20px 60px;
}

.menu-container .menu-item{
	text-align:center;
	background-color:#fff;
	position:relative;
	border-radius:5px;
	padding:20px 30px;
	font-family:Raleway;
	margin-bottom:25px;
	box-shadow:0 0 11px 0px #ccc;
	transition:.3s;
}

.menu-container .menu-item span{
	border-radius:50%;
	font-weight:bold;
}

.menu-container .menu-item p{
	color:#9c9c9c;
	font-family: Poppins;
}

.menu-container .menu-item a{
	text-decoration:none;
	color:#fff;
	background-color:#e67e22;
	padding:10px 30px;
	display:block;
	font-family: Poppins;
	margin:10px 0;
}

.menu-container .menu-item img{
	width:200px;
	margin:15px 0;
	border-radius:50%;
}

.menu-container .menu-item h1{
	font-family: Poppins;
}

.statics{
	display:flex;
	justify-content:space-around;
	margin:50px 0;
	color:#fff;
}

.statics .static-item{
	padding:20px 0;
	text-align:center;
	background-color:#000;
	padding:30px;
}

.statics .static-item span{
	font-size:30px;
}

#modifier{
	margin-top:15px;
}

.signup-form{
	padding:50px;
	text-align:center;
}

.signup-form h1{
	font-family:Poppins;
}

.signup-form div{
	margin-bottom:25px;
}

.signup-form div input{
	outline:none;
	padding:12px 20px;
	font-size:16px;
	border:1px solid #eaeaea;
	width:350px;
	font-family:Raleway;
	transition:.3s;
}

.signup-form input:focus{
	border-color:var(--main-color);;
}

.signup-form input[type=submit]
{
	background-color:var(--main-color);
	border:none;
	color:#fff;
	cursor:pointer;
	transition:.4s;
}

.signup-form input[type=submit]:hover
{
	background-color:#e67e22;
}


.login-form{
	padding:50px;
	text-align:center;
}
.login-form h1{
	font-family:Poppins;
}

.login-form div{
	margin-bottom:25px;
}

.login-form div input{
	outline:none;
	padding:12px 20px;
	font-size:16px;
	border:1px solid #eaeaea;
	width:350px;
	font-family:Raleway;
	transition:.3s;
}

.login-form input:focus{
	border-color:var(--main-color);;
}

.login-form input[type=submit]
{
	background-color:var(--main-color);
	border:none;
	color:#fff;
	cursor:pointer;
	transition:.4s;
}

.login-form input[type=submit]:hover{
	background-color: #e67e22;
}

.alert-success{
	color:green;
	background-color:#008c003b;
	padding:5px 30px;
	border-radius:5px;
}

.alert-danger{
	color:#721c24;
	background-color:#f8d7da;
	padding:5px 30px;
	border-radius:5px;
}


.back{
	background-color:var(--main-color);
	border:none;
	color:#fff;
	position:absolute;
	top:20px;
	left:30px;
	padding:5px 20px 5px 10px;
	text-decoration:none;
	border-radius:50px;
	font-family: Raleway;
}

label{
	display:block;
	text-align:left;
	margin-bottom:10px;
}

input[type=submit]
{
	background-color:#000;
	color:#fff;
	border:none;
	outline:none;
	cursor:pointer;
	font-family: Raleway;
	font-size:18px;
	padding:10px 35px;
}

/**
 * Swiper 6.5.8
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2021 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: April 23, 2021
 */

@font-face{font-family:swiper-icons;src:url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA') format('woff');font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-container-vertical>.swiper-wrapper{flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}.swiper-container-multirow>.swiper-wrapper{flex-wrap:wrap}.swiper-container-multirow-column>.swiper-wrapper{flex-wrap:wrap;flex-direction:column}.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}.swiper-container-pointer-events{touch-action:pan-y}.swiper-container-pointer-events.swiper-container-vertical{touch-action:pan-x}.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}.swiper-container-3d{perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-container-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}:root{--swiper-navigation-size:44px}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:calc(var(--swiper-navigation-size)/ 44 * 27);height:var(--swiper-navigation-size);margin-top:calc(0px - (var(--swiper-navigation-size)/ 2));z-index:10;cursor:pointer;display:flex;align-items:center;justify-content:center;color:var(--swiper-navigation-color,var(--swiper-theme-color))}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-next:after,.swiper-button-prev:after{font-family:swiper-icons;font-size:var(--swiper-navigation-size);text-transform:none!important;letter-spacing:0;text-transform:none;font-variant:initial;line-height:1}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:10px;right:auto}.swiper-button-prev:after,.swiper-container-rtl .swiper-button-next:after{content:'prev'}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:10px;left:auto}.swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after{content:'next'}.swiper-button-next.swiper-button-white,.swiper-button-prev.swiper-button-white{--swiper-navigation-color:#ffffff}.swiper-button-next.swiper-button-black,.swiper-button-prev.swiper-button-black{--swiper-navigation-color:#000000}.swiper-button-lock{display:none}.swiper-pagination{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:50%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:var(--swiper-pagination-color,var(--swiper-theme-color))}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:.2s transform,.2s top}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s left}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s right}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:var(--swiper-pagination-color,var(--swiper-theme-color));position:absolute;left:0;top:0;width:100%;height:100%;transform:scale(0);transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-white{--swiper-pagination-color:#ffffff}.swiper-pagination-black{--swiper-pagination-color:#000000}.swiper-pagination-lock{display:none}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-scrollbar-lock{display:none}.swiper-zoom-container{width:100%;height:100%;display:flex;justify-content:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;transform-origin:50%;animation:swiper-preloader-spin 1s infinite linear;box-sizing:border-box;border:4px solid var(--swiper-preloader-color,var(--swiper-theme-color));border-radius:50%;border-top-color:transparent}.swiper-lazy-preloader-white{--swiper-preloader-color:#fff}.swiper-lazy-preloader-black{--swiper-preloader-color:#000}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0px;width:100%;height:100%;opacity:.6;z-index:0}.swiper-container-cube .swiper-cube-shadow:before{content:'';background:#000;position:absolute;left:0;top:0;bottom:0;right:0;filter:blur(50px)}.swiper-container-flip{overflow:visible}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}

.gallery-box-container{
	position: fixed;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:5258410;
}

.gallery-box-container span.close{
	position:absolute;
	top:10px;
	right:20px;
	color:#fff;
	font-size:40px;
	cursor:pointer;
}

footer{
	display:flex;
	padding:50px;
	/*background-color:var(--main-color);*/
	/*color:#fff*/;
	background-color: #222222;
	color:#fff;
}

footer .footer-item{
	justify-content:space-around;
	margin-right:50px;
	margin-bottom:40px;
}

.footer-item p,.footer-item > div{
	color:#999999;
	font-family:Poppins;
	font-size:14px;
}

.footer-item > div i{
	color:var(--main-color);
}

.footer-item ul{
	margin:0;
	padding:0;
	list-style:none;
	display:flex;
	flex-direction: column;
}

.footer-item ul li{
	margin-bottom:15px;
	display: inline-block;
}

.footer-item ul li a{
	text-decoration:none;
	transition:.3s;
	color:#999999;
	font-family:"Poppins";
}

.footer-item ul li:hover a{
	padding-left:5px;
	color:#e67e22;
}

.footer-item ul li i{
	margin-right:5px;
	color:var(--main-color);
}

.footer-item span{
	color:#e67e22;
	font-weight:900;
}

.footer-item h3.title{
	font-size:30px;
	margin-bottom:20px;
	font-family: "Poppins";

}

p.copyright{
	text-align:center;
	background-color:#000;
	padding:20px;
	margin:0;
	color:#fff;
	font-family: "Raleway";
}

.control-box{
	position:fixed;
	top:50%;
	left:0;
	z-index:555;
	padding:10px;
	background-color:#fff;
	transform:translateY(-50%);
	cursor:pointer;
	box-shadow:0 0 10px 0px #ccc;
	transition:.4s;
}

.color-box{
	position:fixed;
	top:50%;
	left:0;
	z-index:555;
	padding:10px;
	background-color:#fff;
	box-shadow:0 0 10px 0px #ccc;
	transform:translateY(-50%);
	transition:.4s;
	left:-45px;
}

.color-box ul{
	list-style:none;
	margin:0;
	padding:0;
}

.color-box ul li{
	cursor:pointer;
	width:25px;
	height:25px;
	background-color:red;
	margin:5px 0;
	border-radius:50px;
}

.color-box ul li:first-child{
	background-color:#fe5f41;
}

.color-box ul li:nth-child(2)
{
	background-color:#08535D;
}

.color-box ul li:nth-child(3)
{
	background-color:#3a84df;
}

.color-box ul li:nth-child(4)
{
	background-color:#4d312c;
}

.color-box span{
	position: absolute;
    top: -23px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 8px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation{
	padding:60px;
}

.reservation p {
	color:#e67e22;
	font-family:"Courgette";
	font-size:30px;
	font-weight:500;
}

.reservation h1{
	font-weight:800;
	text-transform:uppercase;
	letter-spacing: 3px;
	font-family:"Poppins";
}

.reservation .img{
	width:400px;
	height:400px;
	overflow: hidden;
	border-radius:8px;
	margin:auto;
	position: relative;
	z-index: 2;
}

.reservation .img img{
	width:100%;
	transition:.4s;
	z-index: 0;
}

.reservation .img a{
	z-index:5;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	outline:none;
	padding:12px 10px;
	border:1px solid #e67e22;
	color:#fff;
	background-color: transparent;
	font-family:Poppins;
	font-weight:600;
	text-decoration:none;
	transition:.6s;
	box-shadow: inset 0 0 0 0 #fe5f41;
}

.reservation .img a:hover{
	box-shadow: inset 400px 0 0 0 #fe5f41;
}

.reservation .img .overlay{
z-index:1;
}


.reservation .img:hover img{
	transform:scale(1.3);
}

.form-control{
	outline:none;
	border-radius:0;
	padding: 10px 15px;
}

.form-control:focus{
	box-shadow: none;
	outline:none;
	border-color:#e67e22;
}

input[type=submit]{
	transition:.4s;
}

input[type=submit]:focus{
	border-color:transparent;
}

.reservation form input[type=submit]:hover{
	background-color: #e67e22;
	color:#fff;
}

.fixed{
	position: fixed;
    background: rgba(255, 255, 255, 0.9)!important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	transition:.4s;
}

.fixed .nav-item .nav-link,.fixed .nav-item a{
	color:#000;
}

.nav-shop{
	position: absolute;
	top:-15px;
	left:20px;
	width:20px;
	height:20px;
	background-color: #fff;
	color:#e67e22;
	border-radius:50%;
	text-align:center;
	line-height:20px;
	font-size:10px;
	font-family:"Poppins";
}

.fixed .nav-shop{
	background-color: #e67e22;
	color:#fff;
}

.navbar-brand{
	color:#fff;
	font-family: "Poppins";
	font-weight:600;
	font-size:34px;
}

.navbar-brand:hover{
	color:#fff;
}

.fixed .navbar-brand{
	color:#e67e22;
}

.forms{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	align-items:center;
	justify-content:center;
	width:1200px;
	height:600px;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.menu{
	background-image: url("../img/hero.jpg");
	height:	80vh;
	background-size: cover;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content:center;
	color:#fff;
	position: relative;
}

.menu .title{
	z-index:2;
}
.menu h1{
	font-family: Poppins;
	font-weight:800;
	letter-spacing:6px;
	text-transform: uppercase;
}


.contact{
	background-image: url("../img/hero.jpg");
	height:	80vh;
	background-size: cover;
	background-repeat: no-repeat;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content:center;
	color:#fff;
	position: relative;
}

.contact .title{
	z-index:2;
}
.contact h1{
	font-family: Poppins;
	font-weight:800;
	letter-spacing:6px;
	text-transform: uppercase;
}

.contact-form{
	margin:30px 0;
	font-family:Poppins;
}

.contact-form input[type=submit]{
	transition:.4s;
}

.contact-form input[type=submit]:hover{
	background-color: #e67e22;
}

.contact-form textarea{
	height:100px;
	resize: none;
}

.contact-form h1{
	color: #e67e22;
    font-family: "Courgette";
    font-size: 30px;
    font-weight: 500;
	margin:20px 0;
}

.navbar-brand span{
	color:#e67e22;
	font-weight:800;
}







.reserver-table{
	background-image: url("../img/hero.jpg");
	height:	80vh;
	background-size: cover;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content:center;
	color:#fff;
	position: relative;
}

.reserver-table .title{
	z-index:2;
}
.reserver-table h1{
	font-family: Poppins;
	font-weight:800;
	letter-spacing:6px;
	text-transform: uppercase;
}