:root{

	--main-color:#fe5f41;
}

*{
	box-sizing:border-box;
}

body{
	margin:0;
}

.account-wrap{
	display:flex;
	height:100vh;
}

.account-wrap .account-sidebar{
	width:20%;
	padding:20px 0;
	border-right:1px solid #ccc;
	position:fixed;
	height:100vh;
}

.account-wrap .account-sidebar .account-info{
	text-align:center;
	padding:20px 0;
	font-family: Raleway;
}

.account-wrap .account-sidebar ul{
	margin:0;
	padding:0;
	list-style:none;
	margin:15px 0;
}

.account-wrap .account-sidebar ul li.active{
	background-color:#fe5f41;
}

.account-wrap .account-sidebar ul li.active a{
	color:#fff;

}

.account-wrap .account-sidebar ul li{
	border-bottom:1px solid #ccc;
}

.account-wrap .account-sidebar ul li a{
	padding:20px 10px;
	text-decoration:none;
	font-family:Raleway;
	display:inline-block;
	width:100%;
	height:100%;	
	color:#000;
}


.account-wrap .account-sidebar .account-profile-img{
	background-image:url("https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png");
	width:80px;
	height:80px;
	background-size:contain;
	margin:auto;
	margin-bottom:10px;
	border-radius:50%;
}

.account-wrap .account-content{
	width:80%;
	padding:10px 20px;
	font-family:Raleway;
	margin-left:280px;
}

.row{
	display:flex;
}

.form-group label{
	display:block;
	margin-bottom:10px;
}

.form-group{
	width:100%;
	margin-bottom:40px;
}

.form-group input:not([type=file]){
	width:80%;
	outline:none;
	border:none;
	border:1px solid #ccc;
	padding:10px 30px;
	padding-left:10px;
	font-family:Raleway;
}

input[type="submit"]
{
	background-color:#fe5f41;
	text-align:center;
	border:none;
	color:#fff;
	padding:10px 40px;
	font-family:Raleway;
	font-size:18px;
	border-radius:50px;
	outline:none;
	cursor:pointer;
}

input[type="file"]{
	border:2px dotted #ccc;
	padding:15px;
	width:100%;
	outline:none;
}

table{
	width:100%;
	padding:5px;
	text-align:center;
}

table td,table th{
	border:1px solid #ccc;
	padding:15px 5px;
}


table tr:nth-child(odd)
{
	background-color:#fe5f41;
	color:#fff;
}

.menu-container{
	display:flex;
	flex-wrap:wrap;
	margin-top:100px;
	justify-content:space-between;
	padding:20px 60px;
}

.menu-container .menu-item{
	text-align:center;
	width:calc(90% / 3);
	background-color:#fff;
	position:relative;
	border-radius:5px;
	padding:20px 30px;
	font-family:Raleway;
	margin-bottom:25px;
	box-shadow:0 0 11px 0px #ccc;
	transition:.3s;
}

.menu-container .menu-item span{
	position:absolute;
	right:30px;
	top:30px;
	background-color:var(--main-color);
	width:50px;
	height:50px;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#fff;
	font-weight:bold;
}

.menu-container .menu-item p{
	color:#9c9c9c;
}

.menu-container .menu-item a{
	text-decoration:none;
	color:#fff;
	background-color:var(--main-color);
	padding:10px 30px;
	display:inline-block;
	margin:10px 0;
	border-radius:50px;
}

.menu-container .menu-item img{
	width:100%;
}