.reservation {
  padding: 60px;

  p {
    color: #e67e22;
    font-family: "Courgette";
    font-size: 30px;
    font-weight: 500;
  }

  h1 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Poppins";
    margin-bottom: 30px;
  }

  .img {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    margin: auto;
    position: relative;
    z-index: 2;

    &:hover {
      img {
        transform: scale(1.3);
      }
    }

    img {
      width: 100%;
      transition: .4s;
      z-index: 0;
    }

    a {
      z-index: 5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      outline: none;
      padding: 12px 10px;
      border: 1px solid #e67e22;
      color: #fff;
      background-color: transparent;
      font-family: Poppins;
      font-weight: 600;
      text-decoration: none;
      transition: .6s;
      box-shadow: inset 0 0 0 0 #fe5f41;

      &:hover {
        box-shadow: inset 400px 0 0 0 #fe5f41;
      }
    }

    .overlay {
      z-index: 1;
    }


  }

  form {
    input[type=submit] {
      &:hover {
        background-color: #e67e22;
        color: #fff;
      }
    }
  }

  
}